<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Pour le css -->
        {% block stylesheets %}
            <link rel="stylesheet" href="css/style.css">
        {% endblock %}
    </head>
    <body>
        <!-- Ajout du container pour que les enfants heritent de bootstrap -->
        <div class="container">
            <nav class="navbar navbar-dark bg-light">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/auto">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <!-- Methode routing avec les interpolation = récupère le nom de la route avec le name -->
                        <a class="nav-link" href="{{ path('exemples') }}">Exemple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donnees">Données</a>
                    </li>
                </ul>
            </nav>
            <!-- Message flash -->
            {% for message in app.flashes('success') %}
                <div class=" alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('suppression') %}
                <div class=" alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>    
        <!-- Pour mettre js copier ce block et le coller dans la vue cible -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
